<!DOCTYPE html>
<html lang="en">



<head>
  <meta charset="utf-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>reportGEN</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('index')}}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">reportGEN</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a href="/generate" class="btn btn-success btn-block">
          <span class="text">Generate Report</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Cover" aria-expanded="false"
          aria-controls="Cover">
          <i class="fas fa-fw fa-folder"></i>
          <span>Cover</span>
        </a>
        <div id="Cover" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/content" data-toggle="collapse" data-target="#title" role="button"
              aria-expanded="true">Title</a>
            <a class="collapse-item" href="/content" data-toggle="collapse" data-target="#certificate" role="button"
              aria-expanded="true" aria-controls="collapseCardExample">Certificate</a>
            <a class="collapse-item" href="/content" data-toggle="collapse" data-target="#abstract" role="button"
              aria-expanded="true" aria-controls="collapseCardExample">Abstract</a>
            <a class="collapse-item" href="/content" data-toggle="collapse" data-target="#ack" role="button"
              aria-expanded="true" aria-controls="collapseCardExample">Acknowledgements</a>

          </div>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#page-top">
          <i class="fas fa-angle-up"></i>
          <span>Scroll Up</span>
        </a>
      </li>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid"
          style="height: 100%; width: 50%; float: left; background-color: greenyellow; padding-top: 1%;">
          {% block content %}
          {% endblock %}
        </div>
        <!-- Scroll to Top Button-->
      </div>

      <div class="container-fluid"
        style="height: 100%; float: right; position: fixed; left: 50%; width: 50%;background-color: red;">
        <iframe id="report" src="./static/report.pdf" height="100%" width="100%"></iframe>

      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->


  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

</body>

</html>