{% extends "base.html" %} {% block content %}
<div class="cont">
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        {% for chapter in chapters: %}
        <a
          class="list-group-item list-group-item-action"
          id="list-chapter{{chapter['number']}}"
          data-toggle="list"
          href="#chapter{{chapter['number']}}"
          role="tab"
          >{{chapter['name']}}</a
        >
        {% endfor %}
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        {% for chapter in chapters: %}
        <div
          class="tab-pane fade show"
          id="chapter{{chapter['number']}}"
          role="tabpanel"
        >
          <div class="jumbotron">
            <h1 class="display-4">{{chapter['name']}}</h1>
            <p class="lead"></p>
            <hr class="my-4" />
            <button type="button" class="btn btn-outline-danger btn-lg btn-block">Save</button> 
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
