{% extends "base.html" %}
{% block content %}
<div class="card shadow mb-4" style="width: 87%;">
    <!-- Card Header - Accordion -->
    <a href="#title" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
        aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Title</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse" id="title">
        <div class="card-body">
            <form action="/content/title" method="POST" id="title">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Topic</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" id="topic" name="topic"
                            placeholder="Web Mini Project" value="{{ data['title']['subject']['topic'] }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Title</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" id="title" name="title"
                            placeholder="reportGEN" value="{{ data['title']['subject']['title'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Semester</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" id="semester" name="semester"
                            placeholder="7th" value="{{ data['title']['subject']['semester'] }}">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="name0" name="name0" placeholder="NAME"
                            value="{{ data['title']['students']['members'][0]['Name'] }}">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="usn0" name="usn0" placeholder="USN"
                            value="{{ data['title']['students']['members'][0]['USN'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="name1" name="name1" placeholder="NAME"
                            value="{{ data['title']['students']['members'][1]['Name'] }}">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="usn1" name="usn1" placeholder="USN"
                            value="{{ data['title']['students']['members'][1]['USN'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="name2" name="name2" placeholder="NAME"
                            value="{{ data['title']['students']['members'][2]['Name'] }}">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="usn2" name="usn2" placeholder="USN"
                            value="{{ data['title']['students']['members'][2]['USN'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="name3" name="name3" placeholder="NAME"
                            value="{{ data['title']['students']['members'][3]['Name'] }}">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="usn3" name="usn3" placeholder="USN"
                            value="{{ data['title']['students']['members'][3]['USN'] }}">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="n0" name="n0" placeholder="Name"
                            value="{{ data['title']['teachers']['members'][0]['Name'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="d0" name="d0" placeholder="Designation"
                            value="{{ data['title']['teachers']['members'][0]['Designation'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="g0" name="g0" placeholder="Department"
                            value="{{ data['title']['teachers']['members'][0]['Department'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="n1" name="n1" placeholder="Name"
                            value="{{ data['title']['teachers']['members'][1]['Name'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="d1" name="d1" placeholder="Designation"
                            value="{{ data['title']['teachers']['members'][1]['Designation'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="g1" name="g1" placeholder="Department"
                            value="{{ data['title']['teachers']['members'][1]['Department'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="n2" name="n2" placeholder="Name"
                            value="{{ data['title']['teachers']['members'][2]['Name'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="d2" name="d2" placeholder="Designation"
                            value="{{ data['title']['teachers']['members'][2]['Designation'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="g2" name="g2" placeholder="Department"
                            value="{{ data['title']['teachers']['members'][2]['Department'] }}">
                    </div>
                </div>


                <div class="form-group row">
                    <input class="btn btn-google btn-block" type="submit" value="Add Title"><i
                        class="fab fa-fw"></i></input>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card shadow mb-4" style="width: 87%;">
    <!-- Card Header - Accordion -->
    <a href="#certificate" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
        aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Certificate</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse" id="certificate">
        <div class="card-body">
            <form action="/content/certificate" method="POST" id="certificate">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="n0" name="n0" placeholder="Name"
                            value="{{ data['certificate']['Guides'][0]['Name'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="d0" name="d0" placeholder="Designation"
                            value="{{ data['certificate']['Guides'][0]['Designation'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="g0" name="g0" placeholder="Department"
                            value="{{ data['certificate']['Guides'][0]['Department'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="n1" name="n1" placeholder="Name"
                            value="{{ data['certificate']['Guides'][1]['Name'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="d1" name="d1" placeholder="Designation"
                            value="{{ data['certificate']['Guides'][1]['Designation'] }}">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-plaintext" id="g1" name="g1" placeholder="Department"
                            value="{{ data['certificate']['Guides'][1]['Department'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <input class="btn btn-google btn-block" type="submit" value="Add Certificate"><i
                        class="fab fa-fw"></i></input>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card shadow mb-4" style="width: 87%;">
    <!-- Card Header - Accordion -->
    <a href="#ack" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
        aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Acknowledgements</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse" id="ack">
        <div class="card-body">
            <form action="/content/ack" method="POST" id="ack">
                <div class="form-group row">
                    <textarea name="message" rows="10" cols="100">{{ data['ack']['content'] }}</textarea>
                </div>
                
                <div class="form-group row">
                    <input class="btn btn-google btn-block" type="submit" value="Add Acknowledgements"><i
                        class="fab fa-fw"></i></input>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="card shadow mb-4" style="width: 87%;">
    <!-- Card Header - Accordion -->
    <a href="#abstract" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
        aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Abstract</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse" id="abstract">
        <div class="card-body">
            <form action="/content/abstract" method="POST" id="abstract">
                <div class="form-group row">
                    <textarea name="message" rows="10" cols="100">{{ data['abstract']['content'] }}</textarea>
                </div>
                
                <div class="form-group row">
                    <input class="btn btn-google btn-block" type="submit" value="Add Abstract"><i
                        class="fab fa-fw"></i></input>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock content%}